body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* display: flex */
}



/* moved to component with styled components */

/* .header {
  text-align: center;
} */

/* .card {
  text-align: center;
  border: rgb(115, 37, 164) solid 5px;
  padding: 1rem;
  width: 400px;
  height: 600px;
  display: inline-grid;
  margin: 25px;
  box-shadow: 3px 4px #e04b52;
} */

/* .image {
  justify-self: center;
  height: 150px;
} */